/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';
@import 'docs';


.has-control-menu{
    .side_navbar{
        position: absolute;
        z-index: 11;    
    }
    .header{
        position: absolute;
        z-index: 11;
    }
}

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

